.titulo-juego {
    text-align: center;
    font-size: 32px;
    margin-top: 20px;
    color: #d12b2b;
}

.texto-juego {
    text-align: center;
    margin-bottom: 10px;
}

#juego {
    width: 900px;
    height: 500px;

    background: url('../images/juegofondo.png') no-repeat center;
    background-size: cover;

    border: 3px solid #fff;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 0px 14px rgba(0,0,0,0.3);
}

#player {
    width: 80px;
    height: 80px;
    background: url('../images/juegoregalo.png') no-repeat center;
    background-size: cover;
    position: absolute;
    bottom: 10px;
    left: 410px;
}

.estrella {
    width: 55px;
    height: 55px;
    background: url('../images/juegoestrella.png') no-repeat center;
    background-size: cover;
    position: absolute;
    top: -70px;
}

#vidasHUD {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 10px;
    z-index: 10;
}

.corazon {
    width: 35px;
    height: 35px;
    background: url('../images/juegocorazon.png') no-repeat center;
    background-size: cover;
}

.panel {
    text-align: center;
    font-size: 24px;
    margin-top: 15px;
    color: #fff;
}

#gameover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.85);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gameover h2 {
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
}

#btnReiniciar {
    margin-top: 10px;
    padding: 12px 28px;
    font-size: 22px;
    cursor: pointer;
}
